## Basic Pandas

We load the library

In [10]:
import pandas as pd

## Series

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

Check the range

In [3]:
obj.index # like range(4)

RangeIndex(start=0, stop=4, step=1)

We can even create an index

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:
obj2['d']

Convert a data from a dictionary to a series

In [8]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
obj3 = <FILL IN>
obj3

If we see a state not present, we got a NaN

In [9]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Check if there are any null?

In [ ]:
<FILL IN>

## DataFrame

In [14]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [ ]:
frame.head()

In [ ]:
frame.columns

Rearrange the dataframe to year, state and population

In [ ]:
<FILL IN>

We can even give an index name to each row number

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four','five', 'six'])
frame2

Retrive objects from a row

In [ ]:
frame2.loc['three']

Or access variable 'state'

In [ ]:
<FILL IN>

Create a new variable according to whether a state is from the States

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2